APP__DEBUG=true
APP__TITLE=User Service
APP__VERSION=1.0.0

DB__USER=postgres
DB__PASSWORD=postgres
DB__HOST=localhost
DB__PORT=5433
DB__NAME=user_service
DB__ECHO=true
DB__POOL_SIZE=50
DB__MAX_OVERFLOW=10

JWT__SECRET_KEY=solana
JWT__ALGORITHM=HS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=7

SENTRY__DSN=
SENTRY__ENVIRONMENT=production
SENTRY__TRACES_SAMPLE_RATE=0.1
SENTRY__ENABLED=false

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=user_service


NOWPAYMENTS__API_KEY=WMSKTKP-0FE4XRX-H6193HK-38B6HDG
NOWPAYMENTS__IPN_SECRET=wiWw+xewKVpuymKGGp0GiNsivGJ2ZhK6
NOWPAYMENTS__WEBHOOK_BASE_URL=https://degenvotes.fun


EMAIL__HOST=smtp.gmail.com
EMAIL__PORT=587
EMAIL__USERNAME=your@gmail.com
EMAIL__PASSWORD=your-app-password
EMAIL__FROM_EMAIL=your@gmail.com

REDIS__URL=redis://localhost:6378

APP__DOMAIN=https://degenvotes.fun